*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}
body{
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.main{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("mesmerising-chameleon-wild.jpg");
}
.black{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.32);
}
.head{
    height: 5rem;
    width: 100%;
    position: absolute;
    z-index: 12;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* background-color: tomato; */
    /* border-bottom: 2px solid rgb(186, 46, 4); */
}
.head .logo{
    font-size: 2.6rem;
    color: seashell;
    display: flex;
    font-weight: 700;
    text-shadow: 1px 1px 10px  rgb(186, 46, 4);
    padding-left: 20px;
}
.head .links{
    color: seashell;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.links h3{
    padding: 3px 7px;
    transition: 0.3s all;
}
.links h3:hover{
    background-color: rgb(186, 46, 4);
    border-radius: 12px;
}
.hero{
    height: 80%;
    margin-top: 120px;
    width: 100%;
    display: flex;
    /* background-color: yellow; */
}

/* .hero .one{
    height: 100%;
    width: 50%;
    background-color: red;
} */


.hero .one{
    width: 50%;
    flex-wrap: wrap;
    height: 100%;
    text-wrap: wrap;
    display: grid;
    align-content: center;
    /* background-color: royalblue; */
}
.one .gif{
    position: absolute;
    z-index: 3;
    transform: translateY(100px) translateX(30px);
}
.hero .one h1{
    font-size: 8rem;
    color: snow;
    font-weight: bold;
    text-wrap: wrap;
    margin-left: 20px;
}
.hero .two{
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
}
.two p{
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 90px;
    /* margin-left: 50px; */
    padding-right: 28px;
    color: snow;
    letter-spacing: 3px;
}
.two .btn{
    height: 4rem;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    background-color: transparent;
    padding: 3px 13px;
    font-size: 2rem;
    cursor: pointer;
    color: snow;
    border-radius: 12px;
}
button:hover{
    box-shadow: 3px 2px 7px black;
}
